body {
  background-image:url("Wallpaper.jpg")
}
p {
 color:white;
 font-family: "Monaco", monospace;
}
h1 {
 color:white;
 font-family: "Monaco", monospace;
 font-size: 10vw;
 text-align:center;
 text-shadow: 2px 2px red;
}
h6 {
 color:red;
 font-family: "Monaco", monospace;
 text-align:center;
}
.logo {
  display: block;
  margin-left: auto;
  width:150px;
  height:150px;
}
img {
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
div.polaroid {
  width: 80%;
  background-color: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}
