body { 
  background-color:black;
}
p {
 color:white;
 font-family: "Monaco", monospace;
}
h1 {
 font-family: "Monaco", monospace;
 font-size: 10vw;
 text-align:center;
}
h6 {
 font-family: "Monaco", monospace;
 text-align:center;
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
