body { 
  background-color:black;
  background-image:url("Wallpaper.jpg")
}
p {
 color:white;
 font-family: "Monaco", monospace;
}
h1 {
 color:white;
 font-family: "Monaco", monospace;
 font-size: 10vw;
 text-align:center;
}
h6 {
 color:red;
 font-family: "Monaco", monospace;
 text-align:center;
}
.logo {
  display: block;
  margin-left: auto;
  width:250px;
  height:250px;
}
img {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
