body { 
  background-color:black;
  background-image:url("Wallpaper.jpg")
}
p {
 color:white;
 font-family: "Monaco", monospace;
}
h1 {
 color:white;
 font-family: "Monaco", monospace;
 font-size: 10vw;
 text-align:center;
}
h6 {
 color:red;
 font-family: "Monaco", monospace;
 text-align:center;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:500px;
}
img {
  margin-left:auto;
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
