body { 
  background-color:black;
}
p {
 color:white;
}
h1 {
 font-family:Comic Sans;
}
h5 {
 font-family:Comic Sans;
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
