body { 
  background-color:black;
  background-image:url("Wallpaper.jpg")
}
p {
 color:white;
 font-family: "Monaco", monospace;
}
h1 {
 color:white;
 font-family: "Monaco", monospace;
 font-size: 10vw;
 text-align:center;
}
h6 {
 color:red;
 font-family: "Monaco", monospace;
 text-align:center;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:500px;
}
img {
  display:block
  margin-left:auto;
  margin-right:auto
}
nav ul {
  float:right;
  margin:0;
  padding:0;
}
nav ul li {
  display:inline;
}
a:link {
  color:green;
  text-decoration:none;
}
a:visited {
  color:pink;
  text-decoration:none;
}
a:active {
  color:yellow;
  text-decoration:none;
}
a:hover {
  color:red;
  text-decoration:underline;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

